<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>
        {% block title %}{% endblock %} | MyTubo
    </title>
</head>
<body>
    {% block header %}
        <h1><a href="/">MyTubo.com</a></h1>
        {% include "search_form.html" %}
        <hr>
    {% endblock header %}

    {% block content %}{% endblock %}

    {% block footer %}
        <hr>
        <p>
        {% if user.is_authenticated %}
            Estás registrado como
            <a href="{% url 'profile_tuber' user.id%}">{{user.username}}</a>.
            <a href="{% url 'logout_tuber' %}">Salir</a>
        {% else %}
            ¿Quieres formar parte de nuestra comunidad?
            <a href="{% url 'add_tuber' %}" id="register">Regístrate</a>
            <a href="{% url 'login_tuber' %}?next={{request.get_full_path|urlencode}}">Entrar</a>
        {% endif %}

        <p><a href="/">Mytubo.com</a></p>
        </p>
    {% endblock %}
</body>
</html>
